@import "../block-1";

.link[href="^#"] {
    content: "text";
    font-family: "Roboto", sans-serif;
    background: url("../path-top-picture/picture.png");

    @media (max-width: 100px) {
        display: none;
    }
}